<!-- card-circolo.twig partial -->

<div class="card card-circolo">

	{% if loop.index <= 1 and cardcircolo is not defined or loop.index is not defined and cardcircolo is not defined %}

	<link rel="stylesheet" href="/resources/assets/css/components/partials/card-circolo.css?v={{version}}" />

	{% endif %}

    <a href="/pages/level-social-war-series">
        <div class="card__content">
            <div class="card__title">
                <h3>Level Social War Series</h3>
            </div>
            <p class="abstract">
                Partecipa alla “Guerra Sociale dei livelli”,<br/>
                una serie di tornei di sociali one day,<br/>
                riservati ai differenti livelli di gioco.<br/>

                <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
                <img src="/resources/assets/images/level-social-war-series.png" style="width: 100px; height: 100px" />
                </div>
            </p>
        </div>
    </a>
	{#
	<div class="card__footer">
		<div class="cta-container cta-container--center">
			<a href="/register">
				<button class="cta cta--enter cta--yellow">Iscrivi il tuo circolo</button>
			</a>
		</div>
	</div>
	#}

</div>
