<!-- card-social.twig partial -->

<div class="card card-social">

	{% if loop.index <= 1 and cardsocial is not defined or loop.index is not defined and cardsocial is not defined %}

	<link rel="stylesheet" href="/resources/assets/css/components/partials/card-social.css?v={{version}}" />

	{% endif %}

		<div class="card__content">
			<div class="card__title">
				<h3>Social Network</h3>
			</div>
			<p class="abstract">Condividi, comunica e confrontati</br> con gli appassionati di Padel</p>
		</div>
		<div style="padding: 0px 15px;" class="card__footer">
			<ul>
				<li style="padding: 0px 25px;"><a href="https://www.facebook.com/doradopadel/" target="_blank"><i style="font-size: 32px; margin-left: 0px;" class="fab fa-facebook-square"></i>
				<span></span>
				</a>
				</li>
				<li style="padding: 0px 25px;"><a href="https://www.instagram.com/doradopadel/?hl=it" target="_blank"><i style="font-size: 32px; margin-left: 0px;"  class="fab fa-instagram"></i>
				<span></span>
				</a>
				</li>
				{# <li style="padding: 0px 25px;"><a href="https://twitter.com/padelsociale" target="_blank"><i style="font-size: 32px; margin-left: 0px;"  class="fab fa-twitter-square"></i></a> #}
				{# </li> #}
				<li style="padding: 0px 25px;"><a href="https://www.youtube.com/channel/UC1nLiue3NInNMC0CREqlNMw" target="_blank">
				<i style="font-size: 32px; margin-left: 0px;"  class="fab  fa-youtube-square"></i></a>
				</li>
			</ul>
		</div>
</div>