/* login.twig styles */
/* line 5, ../../../../../src/sass/components/sections/login-form.scss */
.login-form { margin: 16px 0; }
/* line 9, ../../../../../src/sass/components/sections/login-form.scss */
.login-form button[type=submit] { min-width: 150px; }
/* line 13, ../../../../../src/sass/components/sections/login-form.scss */
.login-form #loginform { margin-bottom: 24px; }
