/* login.twig styles */
/* line 5, ../../../../../src/sass/components/sections/login-form.scss */
.login { margin: 16px 0; border-bottom: 1px solid #ccc; }
/* line 9, ../../../../../src/sass/components/sections/login-form.scss */
.login button[type=submit] { min-width: 150px; }
/* line 13, ../../../../../src/sass/components/sections/login-form.scss */
.login #loginform { margin-bottom: 24px; }
