<!--footer.twig section -->

<footer class="footer flex flex--center">
	<div class="logo">
		<picture class="logo__picture">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="/resources/assets/images/logo-padelsociale@2x.png 2x"/>
				<!--[if IE 9]></video><![endif]-->
				<img data-srcset="/resources/assets/images/logo-padelsociale.png" alt="logo Padel Sociale"/>
		</picture>
	</div>
	<div class="footer__info flex flex--column">
		<a class="mail-link" href="mailto:inrelazionecon@gmail.com">inrelazionecon@gmail.com</a>
		<a class="phone-link" href="tel:+393384117065">3384117065</a>
	</div>
</footer>
