<!--footer.twig section -->

<footer class="footer">
	<div class="logo">
		<picture class="logo__picture">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="/resources/assets/images/logo-dorado-padel-center.jpg"/>
            <!--[if IE 9]></video><![endif]-->
            <img data-srcset="/resources/assets/images/logo-dorado-padel-center.jpg" alt="logo Dorado Padel Center"/>
		</picture>
	</div>
	{# <div class="footer__info flex flex--column">
		<a class="mail-link" href="mailto:inrelazionecon@gmail.com">inrelazionecon@gmail.com</a>
		<a class="phone-link" href="tel:+393384117065">3384117065</a>
	</div> #}
</footer>
